//// YanoneKaffeesatz

//@font-face
//  font-family: "YanoneKaffeesatz"
//  src : url("../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf")
//  font-weight: normal
//@font-face
//  font-family: "YanoneKaffeesatz"
//  src : url("../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Medium.ttf")
//  font-weight: 500
//@font-face
//  font-family: "YanoneKaffeesatz"
//  src : url("../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-SemiBold.ttf")
//  font-weight: 600
//@font-face
//  font-family: "YanoneKaffeesatz"
//  src : url("../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Bold.ttf")
//  font-weight: 700

//// YanoneKaffeesatz

// Bebas

@font-face
  font-family: 'BebasNeue'
  src : url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf")
  font-weight: normal
// Bebas
